# dependencies
node_modules

# logs
npm-debug.log
package-lock.json

# Nuxt build
.nuxt

# Nuxt generate
dist

# Google Cloud
config/firebase/service-account.json

# Firebase data
config/firebase/config.js
